* {
    font-family: monospace;
    color: rgb(216, 206, 194);
    background-color: rgb(36, 29, 36);
}

h1 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

.game-box {
    border-radius: 10px;
    border: dashed 1px rgb(128, 128, 128);
    width: 490px;
    height: 491px;
    margin: auto;
    margin-top: 25px;
}

.score-container {
    font-size: 16px;
    font-weight: bold;
    color: rgb(175, 175, 175);
    background-color: rgb(44, 36, 51);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px rgb(128, 128, 128);
    height: 20px;
    padding: 10px;
}

.score-container #game-score {
    background-color: transparent;
    font-size: 22px;
}

.game-message {
    position: fixed;
    font-size: 60px;
    text-align: center;
    color: rgb(68, 51, 68);
    opacity: 0.2;
    background: transparent;
    border-radius: 10px;
    margin: 150px 0px 0px 33px;
    z-index: 5;
}

#game-canvas {
    background-color: rgb(21, 16, 26);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.keys-message {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: rgb(146, 146, 146);
    text-align: center;
    margin-top: 5px;
}

.buttons {
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 25px;
}

.buttons button {
    font-size: 15px;
    font-weight: bold;
    color: rgb(201, 201, 201);
    background-color: rgb(44, 36, 51);
    border: outset 2px rgb(133, 128, 121);
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.buttons button:hover {
    filter: brightness(0.8);
}