* {
    font-family: monospace;
    background-color: rgb(36, 29, 36);
}

body {
    max-width: 500px;
    margin: auto;
}

#title {
    text-align: center;
    width: fit-content;
    margin: auto;
}

#title h1 {
    color: rgb(176, 172, 180);
    background-color: rgb(44, 36, 51);
    border: dashed rgb(133, 132, 134);
    box-shadow: 7px 7px 0px rgb(16, 12, 26);
    padding: 5px;
}

.game-box {
    border-radius: 10px;
    border: dashed 1px rgb(128, 128, 128);
    width: 490px;
    height: 491px;
    margin: auto;
    margin-top: 25px;
}

.score-container {
    font-size: 16px;
    font-weight: bold;
    color: rgb(175, 175, 175);
    background-color: rgb(44, 36, 51);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px rgb(128, 128, 128);
    height: 20px;
    padding: 10px;
}

.score-container #game-score {
    color: rgb(216, 206, 194);;
    background-color: transparent;
    font-size: 22px;
}

.game-message {
    font-weight: bold;
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: rgb(68, 51, 68);
    background-color: rgb(10, 9, 9);
    border: 5px dotted;
    border-radius: 5px;
    margin: 150px 0px 0px 65px;
    z-index: 1;
}

#game-canvas {
    background-color: rgb(21, 16, 26);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.keys-message {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: rgb(146, 146, 146);
    text-align: center;
    margin-top: 5px;
}

.buttons {
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 25px;
}

.buttons button {
    font-size: 15px;
    font-weight: bold;
    color: rgb(201, 201, 201);
    background-color: rgb(44, 36, 51);
    border: outset 2px rgb(133, 128, 121);
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.buttons button:hover {
    filter: brightness(0.8);
}

.dev-info {
    position: absolute;
    color: rgb(176, 172, 180);
    background-color: rgb(44, 36, 51);
    box-shadow: 7px -7px 0px rgb(16, 12, 26);
    width: fit-content;
    bottom: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.dev-info a {
    background: none;
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

.dev-info svg {
    background: none;
}

.dev-info a:hover {
    text-decoration: underline;
}